$font-size: 12px !default;
$icon-font-path: '/assets/fonts/';
$components-path: '../components/' !default;
$pad: 14px;

// Typography
$base-font: Arial, Verdana, Helvetica, sans-serif;
$base-font-size: 12px;

$radius: 0;
